body {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    font-family: Roboto;
    background-image: url(../../../assets/img/backgrond.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100%;
    overflow-y: scroll;    
}


/* Reply Form */

.reply-form{
    display: flex;
    flex-direction: column;
    padding: 12px;
    margin-bottom: 4%;
    background-color: white;
    border-radius: 10px;
}

.reply-form div{
    display: flex;
    align-items: center;
}

.reply, .reply-form, .tweet{
    border-top: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
}

.reply-form__button{
    background-color: rgb(57, 120, 62);
}